

<!DOCTYPE html>
<html>
<head>
  <h1 align = "center"> "REACTION.AI !" </h1>
</head>
<body>
	<!--
  <div id="video-container">
    <video id="camera-stream" width="500" autoplay></video>
  </div>
  <script src="static/scripts.js"></script>
-->

    <center style = padding-left:200px >
<script type="text/javascript" src="static/scripts.js"></script>
<link rel="stylesheet" href="static/style.css" >
        </center>

</head>
<body>
<div align = "center" style = "position:relative; top:100px">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/HZLqmTUPz9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<footer>
  <h3 align="right" style ="position: relative; bottom:-150px">Posted by: MockingBirds</h3>

</footer>

</body>
</html>